
  .square-wrapper-enter {
   
    
    transform: translateX(100%);
  }
  
  .square-wrapper-enter-active {
  
    transform: translateX(0);
    transition: all 500ms;
  }
  
  .square-wrapper-exit {
   
    transform: translateX(0);
  }
  
  .square-wrapper-exit-active {
  
    transform: translateX(-100%);
    transition: all 500ms;
  }

  TransitionGroup{
    height: 100%;
  }