html{
	font-size: 26.6vw !important;
	height: 100%;
}
body{
	height: 100%;
    font-size: 16px !important;
}
header{
    position: fixed;

    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: green; */
    height: 74px;
}
.header1{
    width: 100%;
    height: 74px;
    background-color: white;
    white-space: nowrap;
}
header img{
    width:.3575rem;
    height: .0625rem;
    margin: .055rem .0575rem 0 .1rem;
    float: left;
}
.hey{
    width:  0.485rem;
    height: .185rem;
    background-color: #024137;
    float: left;
    line-height:.185rem;
    font-size: .055rem;
    justify-content: space-around;
    color: white;
    transition: 0.3s;
    box-sizing: border-box;
   padding: 0 .0375rem;
   overflow: hidden;
}
.hey div:first-of-type{
    display: flex;
    justify-content: space-around;
}
.hey div:first-of-type span{
    background-color: transparent;
    font-size: .05rem;
    color: white;
}
.hey div:first-of-type span:last-of-type{
    color: #898587;
}
.hey div:last-of-type{
   padding-left: .025rem;
}
.hey div:last-of-type span{
    font-size: .125rem;
    font-weight: bold;
    display: block;
}
.hey div:last-of-type button{
    font-size: .125rem;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: .075rem;
    cursor: pointer;
    color: white;
    margin-right: .025rem;
}
.hey div:last-of-type button:last-of-type{
    color: #898587;
}
.hey div:last-of-type p{
    display: block;
    font-size: .03rem;
    height: .05rem;
    color:rad;
    margin-top: -0.05rem;
}
.hey:hover{
    height: .6625rem;
    width: 0.485rem;
}
.hey:hover div:first-of-type{
    opacity: 0;
}
.search{
    width: 1.125rem;
    /* width: 2.25rem; */
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: brown; */
    margin-left: .3rem;
    float: left;
    position: relative;
    margin-top: .035rem;
}
.search span{
    width: .175rem;
    height: .115rem;
    border: #024137 2px solid;
    color: #024137;
    border-top-left-radius: .14rem;
    border-bottom-left-radius: .14rem;
    line-height: .115rem;
    font-size: .075rem;
    text-align: center;
    border-right: none;
}
.search input{
    width: 1.1825rem;
    height: .115rem;
    border-top-right-radius: .14rem;
    border-bottom-right-radius: .14rem;
    outline: none;
    border: #024137 2px solid;
    font-size: .04rem; 
    border-left: none;
   
}
.search > div{
    width: 1.0075rem;
    height: 1rem;
    position: absolute;
    background-color:white;
    box-shadow: 0px 0px 5px gray;
    display: none;
    margin-top: .125rem;
    left: 0;
    transition: 0.5s;
    margin-left: .06rem;
    z-index: 11;
}
nav{
  float: left;
  width: .675rem;
}
nav a{
    color: #8e95a1;
    margin-left: .055rem;
    line-height: .185rem;
    font-size: .035rem;
    font-weight: 400;
}
.shop{
    display: flex;
    line-height: .185rem;
    padding-left: .1rem;
    font-size: .045rem;
    color: #c1bfc0;
    letter-spacing: 2px;
    width: 0.338rem;
    float: left;
}
.shop span{
    color: #024137;
    font-size: .05rem ;
   
}
.shop > span{
    font-size: .075rem;
    margin-right: .025rem;
}
.header_shopcar{
    cursor: pointer;
}


