.shop_banner{
    margin-top: 74px;
    /* width: 1525px; */
    width: 100%;
    height: 525px;
    overflow: hidden;
    position: relative;
}
.shop_ban{
    width: 9500px;
    height: 450px;
    position: absolute;
}
.banner_nav{
    position: absolute;
    top: 0;
    left: 112px;
    z-index: 2;
    width: 296px;
    height: 525px;
    /* background-color:palevioletred ; */
    box-shadow: -1px 2px 12px rgba(62,65,71,.1);
    background-color: white;
   
    box-sizing: border-box;
}
.banner_nav > p{
    height: 70px;
    line-height: 70px;
    color: #d1d0ce;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px #d1d0ce;
}
.banner_nav .nav_left li{
    height: 90px;
    /* text-align: center; */
    padding: 22px 25px;
    border-bottom: solid 1px #d1d0ce;
    box-sizing: border-box;
    transition: 1s;

}
.banner_nav .nav_left li div{
    
    float: left;
}
.banner_nav .nav_left li div:first-of-type{
    font-size: 48px;
    color: #41695e;
    margin-right: 17px;
    
}
.banner_nav .nav_left li div p:first-of-type{
    font-size: 18px !important;
    color: #3e4147;
}
.banner_nav .nav_left li div p:last-of-type{
    font-size: 14px;
    color: #41695e;
}
.banner_nav .nav_left li:hover{
    background-color: #024137;
}
.banner_nav .nav_left li:hover div{
    color: white !important;
}
.banner_nav .nav_left li:hover div p a{
    color: white;
}
.banner_nav .nav_left li:hover div p{
    color: white !important;
}
.nav_right1{
    width:984px;
    height:616px;
    position: absolute;
    top: 66px;
    left: 296px;
    background-color: white;
    padding: 30px 50px;
    box-sizing: border-box;
    /* display: none; */
    opacity: 0;
    
}

.nav_right1 img{
    width: 298px;
    height: 385px;
    position: absolute;
    right: 40px;
    top: 53px;
}
.nav_right1 > p{
    font-size: 18px;
    color: #3e4147;
    font-weight: bold;
    letter-spacing: 1px;
}
.nav_right1 li:hover{
    background: none;
}
.nav_right1 li{
    padding: 10px 0;
    box-sizing: border-box;
    width: 600px;
    height: 104px;
    /* background-color: yellow; */
}
.nav_right1 li div{
    float: left;
    width: 200px;
    height: 84px;
    /* background-color: yellowgreen; */
    padding-right: 30px;
    box-sizing: border-box;
}
.nav_right1 li div > p a{
    font-size: 14px;
    color: #3e4147;
    line-height: 28px;
}
.nav_right1 li div > a{
    font-size: 14px;
    color: #898587;
    line-height: 28px;
}
.banner_nav a:hover{
    text-decoration: underline;
}
.nav_right2{
    width: 984px;
    height: 556px;
    background-color: white;
    position: absolute;
    top: 66px;
    left: 296px;
    background-color: white;
    padding: 30px 50px;
    box-sizing: border-box;
    /* opacity: 0; */
    display: none;
}
.nav_right2 > p{
    font-size: 18px;
    color: #3e4147;
    font-weight: bold;
    letter-spacing: 1px;
}
.nav_right2 li{
    width: 436px;
    height: 49px;
    padding: 10px 0;
    border-top: 1px #898587 solid;
    /* background-color: wheat; */
    box-sizing: border-box;
}
.nav_right2 li a{
    color: #898587;
    font-size: 14px;
    display: inline-block;
    width: 145px;
    line-height: 30px;
}
.nav_right2 img{
    width: 298px;
    height: 385px;
    position: absolute;
    right: 111px;
    top: 53px;
}
.nav_right3{
    width: 984px;
    height: 496px;
    background-color: white;
    position: absolute;
    top: 66px;
    left: 296px;
    background-color: white;
    padding: 30px 50px;
    box-sizing: border-box;
    display: none;
 
}
.nav_right3 > p{
    font-size: 18px;
    color: #3e4147;
    font-weight: bold;
    letter-spacing: 1px;
}
.nav_right3 > img{
    width: 936px;
    height: 388px;
    margin-top: 20px;
}
.nav_right4{
    width: 984px;
    height: 496px;
    background-color: white;
    position: absolute;
    top: 66px;
    left: 296px;
    background-color: white;
    padding: 30px 50px;
    box-sizing: border-box;
    display: none;
}
.nav_right4 > p{
    font-size: 18px;
    color: #3e4147;
    font-weight: bold;
    letter-spacing: 1px;
}
.nav_right4 > img{
    width: 936px;
    height: 388px;
    margin-top: 20px;
}

.shop_ban li{
    float: left;
    height: 525px;
    width:1900px;
}
.shop_ban li img{
    width: 1900px;
    height: 525px;
    /* transform: translate(-50%,-50%); */
    transform: translateX(-200px);
}
.ph{
    height: 50px;
}
.ph + img{
    display: block;
    width: 1280px;
    height: 221px;
    margin: auto;
    /* margin-top: 50px; */
}
.ph_div{
   padding: 40px 0;
    height: 459px;
    /* background-color: greenyellow; */
    position: relative;
    background-color:  rgba(209, 208, 206, 0.15);
}
.ph_div > img {
    width: 296px;
    height: 342px;
    float: right;
}
.lm_div{
    width: 934px;
    height: 379px;
    /* background-color: indianred; */
    overflow: hidden;
    position: relative;
}
.lm_div ul{
    width: 1362px;
    height: 342px;
    margin-left: 43px;
    position: absolute;
}
.list_same{
    width: 210px;
    height: 342px;
    margin-right: 17px;
    margin-bottom: 17px;
    /* background-color: hotpink; */
    float: left;
    position: relative;
}
.list_same img{
    display: block;
    width: 190px;
    height: 190px;
    margin: auto;
}
.list_same> div{
    overflow: hidden;
    width: 210px;
    height: 210px;
    position: relative;
}
.list_same > div > div{
    display: block;
    width: 210px;
    height: 66px;
    background-color: rgba(0,0,0,.35);
    position: absolute;
    top: 210px;
    left: 0;
    transition: 0.5s;
}
.list_same > div:hover  > div{
    transform:translateY(-64px);
}
.list_same > div > div p{
    text-align: center;
    position: static;
    color: white;
}
.lm_line{
    display: block;
    width: 210px;
    height: 1px;
    background-color: black;
}
.list_same a{
    display: block;
    /* text-align: center; */
    /* margin-top: 10px; */
}
.list_same p{
    position: absolute;
    bottom: 8px;
    /* left: 15px; */
    width:210px
}
.list_same p span:first-of-type{
    font-size: 30px;
}
.list_same p .moe{
    font-size: 12px !important;
}
.list_same p > div{
    display: inline-block;
}
.lm_shop{
   float: right;
   font-size: 24px !important;
   line-height: 42px;
   cursor: pointer;
}
.ph_div + img{
    display: block;
    width: 1280px;
    height: 221px;
    margin: auto;
    margin-top: 50px;
}
.fs_div > img{
    width: 296px;
    height: 701px;
    float: left;
    padding: 40px 0;
}
.fs_div{
    position: relative;
    overflow: hidden;
    background-color:  rgba(209, 208, 206, 0.15);
}
.fs_ulDiv{
    
    /* position: absolute; */
    float: left;
    width: 934px;
    height: 701px;
    /* background-color: lightsalmon; */
    position: relative;
    overflow: hidden;
}
.fs_ul_total{
    width: 1968px;
    height: 701px; 
    position: absolute;
}
.fs_div ul{
    width: 934px;
    height: 701px;
    float: left;
    /* background-color: khaki; */
    margin-left: 20px;
}
.fs_div + img{
    display: block;
    width: 1280px;
    height: 221px;
    margin: auto;
    margin-top: 50px;
}
.shop_banner > ol{
    position: absolute;
    bottom:55px;
    left: 50%;
    z-index: 1;
}

.shop_banner > ol > li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.35);
    float: left;
    margin-right: 6px;
}
.red{
    /* background-color:#41695e; */
    background-color: #41695e !important;
}
.shop_progress{
    width: 210px;
    height: 4px;
    position: absolute;
    bottom: 18px;
    right: 0;
    background-color:#ccdcd8 ;
}
.shop_progress > span{
    display: inline-block;
    width: 105px;
    height: 4px;
    background-color: #41695e;
    position: absolute;
    transition: 1s;
}
.lm_pre{
    position: absolute;
    left: -50px;
    top: 200px;
    font-size: 30px !important;
    cursor: not-allowed;
}
.lm_aft{
    position: absolute;
    right: 302px;
    top: 200px;
    font-size: 30px !important;
}
.fy_pre{
    position: absolute;
    left: -50px;
    top: 200px;
    font-size: 30px !important;
    cursor: not-allowed;
}
.fy_aft{
    position: absolute;
    right: 302px;
    top: 200px;
    font-size: 30px !important;
}
.fs_pre{
    position: absolute;
    left: 295px;
    top: 341px;
    font-size: 30px !important;
    z-index: 10;
    cursor: not-allowed;

}
.fs_aft{
    position: absolute;
    right: 0px;
    top: 341px;
    font-size: 30px !important;
}